body {
    background-color: dodgerblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.applause .btn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 24px;
    background-color: white;
    border: 0;
    height: 50px;
    width: 50px;

}